<table class="table table-striped table-light">
    <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Project Name</th>
        <th scope="col">Invoice Process Completed?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href="/client2">Hash Password</a></td>
        <td>Yes</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><a href="/client2">Bookstore</a></td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><a href="/client2">Gaming</a></td>
        <td>No</td>
      </tr>
    </tbody>
  </table>

